@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: Inter, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.loaded {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 2;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #fface3;
  text-shadow: 0 0px 25px rgb(255, 255, 255);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  font-size: 2.5rem;
  max-width: 20ch; /* Примерно 50 символов в строке */
  line-height: 1.4;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 12;
}

button {
  font-size: 25px;
  padding: 12px 30px;
  min-width: 115px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  color: white;
  background: linear-gradient(135deg, #ffbae8, hsl(318, 100%, 74%));
  border: none;
  border-radius: 30px;
  box-shadow: 0 0px 10px rgba(255, 181, 230, 0.76);
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#yes, #no {
  transition: all 0.5s ease-in-out;
}

body, a, input, textarea, button * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #ffbae8; /* Жовтий фон */
  color: #ffffff; /* Чорний текст */
}

::-webkit-selection {
  background-color: #ffbae8;
  color: #ffffff;
}



/* Адаптація для мобільних пристроїв */
@media (max-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }

  button {
    font-size: 20px;
    padding: 11px 30px;
    min-width: 110px;
  }
}

